body {
  background-color: grey;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.gradient-bg {  
  width: 100%;
}

.form-container {
  background-color: gray;
  height: 100;
  min-height: 450px;  
}

.mobile-image {
  display: block;
  margin: 0px auto;
  /* width: 100%; */
}

.desktop-image {
  display: none;
}

@media (min-width: 800px){
  .container {
    flex-direction: row;
  }

  .desktop-image {
    display: block;
    /* height: 100%; */
    object-fit: cover;
  }

  .mobile-image {
    display: none;
  }
}

.logo {
  /* background-color: red; */
  /* position: absolute; */
  width: 56px;
  /* height: 40px; */
  /* flex-grow: 1; */
  margin-bottom: auto;
}

.card-front-bg {
  position: absolute;
  z-index: -1;
  width: 284px;
  height: 155px;
  top: 0px;
  left: 0px;
}

.card-front {
  font-size: 0.8rem;
  width: 284px;
  height: 155px;
  position: absolute;
  /* top: 100px; */
  left:0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 1.4em;
  color:white;
  justify-content: space-between;  
  /* background-color: red; */
}

.card-number-group {
  display: flex;
  flex-direction: row;  
  justify-content: flex-start;
  flex-grow: 0;
}

.card-number {
  padding-right: 1ch;
  font-size: 1.25rem;
  margin-bottom: 0.75em;
}

.name-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-grow: 0;
}

.card-back {
  font-size: 0.8rem;
  width: 284px;
  height: 155px;
  position: absolute;
  color:white;
  z-index: -10;
  bottom: 86px;
  left: 54px

}

.card-back-bg {
  position: absolute;
  z-index: -1;
  width: 284px;
  height: 155px;
  top: 0px;
  left: 0px;
}

.ccv {
  position: absolute;
  top: 68px;
  right: 34px;
}

.cards-wrapper {
  /* Need a better way to postion this responsively */
  left: 48px; 
  position: absolute;
  width: 340px;
  height: 280px;  
  /* background-color: red; */
  /* border: 1px solid red; */
  /* top: 0; */
  z-index: 1;
}